@model IEnumerable<Assignment2.Models.TotalCostsByEngineerModel>

@{
    ViewBag.Title = "Total Costs By Engineer Report";
}

<h2>@ViewBag.Title</h2>

<p>
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalHours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalCosts)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalCosts)
        </td>
    </tr>
}

</table>
