@model IEnumerable<Assignment2.Models.Database_Models.Intervention>

@{
    ViewBag.Title = "Intervention Details";
}

<h2>Intervention Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
       
        
        <th>
            Intervention type
        </th>
        <th>
            Intervention Cost
        </th>
        <th>
            Intervention Hours
        </th>
        <th>
            Created on
        </th>
        <th>
            Status
        </th>
        <th>
            Life
        </th>
        <th>
            Modified On
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.InterTypeId.InterventionTypeName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterventionCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.InterventionHours)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Condition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModifyDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InterventionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.InterventionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InterventionId })
        </td>
    </tr>
}

</table>
