@using Assignment2.Models
@model IEnumerable<ListClientsViewModel>

@{
    ViewBag.Title = "Clients In Your District";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "CreateClient")
</p>
@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.clientName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clientLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdBy)
            </th>
            <th>
                @Html.DisplayName("Interventions")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.clientName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clientLocation)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.createdBy)
                </td>
                <td>
                    @Html.ActionLink("View Associated Interventions", "ViewClientsInterventions", new { id = item.clientID })
                </td>
            </tr>
        }

    </table>

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
}
else
{
    <hr />
    <div> <h3>You have no Clients</h3> </div>
}